html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* по центру */
    margin: 0 auto;
}

/*First Screen*/
.intro {
    height: 100vh;
    width: 100%;
    background: url('../images/intro.jpg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.intro__abovetitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
    margin-bottom: 10px;

}

.intro__title {
    color: #fff;
    font-size: 140px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    max-width: 60px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 25px auto 0;
}

.intro .btn {
    display: inline-block;
    margin-top: 50px;
    padding: 8px 30px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    transition: color .2s linear, background-color .2s linear;
}

.intro .btn:hover {
    color: #333;
    background-color: #fff;

}

/* Slider */
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.inner_slider {
    display: flex;
    justify-content: space-between;
}

.slider_item {
    position: relative;
    padding: 20px 0;
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border-top: #fff 3px solid;
    opacity: .7;
}

.slider .active {
    opacity: 1;
}


.slider .active:before {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    display: block;
    top: -3px;
    z-index: 1000;

}


.slider_num {
    font-size: 24px;
    font-weight: 700;
}





/*Header*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Navigation */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    position: relative;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    transition: color .2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    z-index: 1;
    opacity: 0;

    transition: opacity .2s linear;

}

.nav__link:hover,
.nav__link.active {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

/* Section */
.section {
    padding: 80px 0;
}

.section__header {
    margin: 0 auto 40px;
    width: 100%;
    max-width: 950px;
    text-align: center;

}

.section__abovetitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__text {
    color: #999999;

}

.section__title:after {
    content: "";
    background-color: #f38181;
    height: 3px;
    width: 60px;
    display: block;
    text-align: center;
    margin: 30px auto;
}

/* About */
.about {
    display: flex;
    justify-content: space-between;
}

.about__item {
    position: relative;
    background-color: #95e1d3;
    width: 380px;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
    opacity: 0.1;
}

.about__item:hover .about__text{
    opacity: 1;
}

.about__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.2s linear;
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text{
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    z-index: 2;
    opacity: 0;
    transform: translate3d(-10px, -10px, 0);

    transition: opacity 0.1s linear;

}

/**
statistics
**/
.statistics{
    background-color: #95e1d3;
}

.stat{
    display: flex;
}

.stat_item{
    flex: 1 1 0;
    border-left: #b5eae0 1px solid;
    text-align: center;
    padding: 70px 25px;
    color: #ffff;

}
.stat_item:last-child{
    border-right: #b5eae0 1px solid;
}

.stat_item .stat_count{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 10px;
}

.stat_item .stat_text{
    font-size: 14px;
    text-transform: uppercase;
}